
:root{
    --vermelho:#E50914;
    --preta:#000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
    
}

header .navegacao{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}


header .logo{
    margin: 5px;
    margin-left: 20px;
    color: var(--vermelho);
    font-family: 'arial black';
    font-size: 25px;
    cursor: pointer;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;

}

header nav a:hover{
    color: #fff;
}

/*filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/suits2.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .titulo{
    align-items: center;
    margin-top: 20px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filme-principal .sub-titulo{
    color: var(--vermelho);
}

.filme-principal .descricao{
    margin-bottom: 10px;
    margin-top: 30px;
}

.filme-principal .botoes{
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color:white;

    padding: 3px 3px;
    margin-right: 10px;
    font-size: 12px;    
}

.botao:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

/* corrosel*/
.carrosel-filmes{
    padding-left: 10px;
    margin-top: -50px;   
}

.box-filme{
    height: 100%;
    width: 100%;
    display:block;
    cursor: pointer;
}

.carrosel-filmes h3{
    margin: 0px 0px 0px 5px;
}

.carrosel-filmes img{
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.carrosel-filmes img:hover{
    transform: scale(1);
}

/*catalago- filmes*/

.catalogo-filmes{
    padding-left: 10px;
    margin-top: -30px;   
}

.box-filme{
    height: 100%;
    width: 100%;
    display:block;
    cursor: pointer;
}

.catalogo-filmes h3{
    margin: 0px 0px 0px 5px;
}

.catalogo-filmes img{
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.catalogo-filmes img:hover{
    transform: scale(1);
}

/*rodapé*/

footer{
    margin: 20px 0;
    text-align: center;
}




